@charset "utf-8";
.arkaplan{
    background-image: url("headerimg/05ddc9513f63b165a2249a75aa54950a.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#banner{
    align-items: center;
    text-align: center;
    
}
.icerik{
   
    margin-top: 8%;
    margin-left: 100px;
   margin-right: 100px;
   align-items: center;
   text-align: center;
   
    
}
#oyun1{
    width: 200px;
    height: 340px;
}
#oyun2{
    width: 200px;
    height: 340px;
}
#oyun3{
    width: 200px;
    height: 340px;
}
#oyun4{
    width: 200px;
    height: 340px;;
    margin-top: 50px;
}
#oyun5{
    width: 200px;
    height: 340px;
    margin-top: 50px;
}
#oyun6{
    width: 200px;
    height: 340px;
    margin-top: 50px;
}
#oyun7{
    width: 200px;
    height: 340px;
    margin-top: 50px;
}
#oyun8{
    width: 200px;
    height: 340px;
    margin-top: 50px;
}
#oyun9{
    width: 200px;
    height: 340px;
    margin-top: 50px;
}
#oyun10{
    width: 200px;
    height: 340px;
    margin-top: 50px;
}
#oyun11{
    width: 200px;
    height: 340px;
    margin-top: 50px;
}
#oyun12{
    width: 200px;
    height: 340px;
    margin-top: 50px;
}

#dow7{
    width: 200px;
    height: 150px;
    margin-bottom: 0px;
}


#sayfalar{
    margin-left: 80%;
    margin-top: 70px;
}








.logo{
    width: 120px;
    height: 100px;
}